<h1>About Me</h1>
<link rel="stylesheet" href="style.css">
<%- include("partials/header.ejs") %>
<img class="profile" src="images/cat.jpeg" alt="cat profile">
<p>Salam. Mani adim Zarina ❤️
  <br>
   Familyam asa Matqurbonova
</p>

  <%- include("partials/footer.ejs") %>